[project]
	description = Notes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kostaz
[access "refs/for/refs/*"]
	read = group user/kostaz
	push = group user/kostaz
	label-Code-Review = -2..+2 group user/kostaz
	label-Verified = -1..+1 group user/kostaz
	rebase = group user/kostaz
	removeReviewer = group user/kostaz
	submit = group user/kostaz
[access "refs/heads/*"]
	read = group user/kostaz
	create = group user/kostaz
	push = +force group user/kostaz
	pushMerge = group user/kostaz
[access "refs/tags/*"]
	push = +force group user/kostaz
	pushTag = group user/kostaz
	pushSignedTag = group user/kostaz
